body{
	background-color:#E6E6E6;
	}

#container { 
	width:1024px; 
	margin:0 auto; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	margin-left: auto;
	margin-right: auto;
	background-color:#FFF;
	box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.72);
	box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.72);
	}


#logo{
	height: 72px;
	padding: 5px 5px 5px 10px;	
	}

#section {clear:both;}
#section ul { list-style:none; padding:0; margin:0; }
#section li { 
	float:left; 
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
	height: 85px;
	line-height: 85px;
	border-right: 1px dashed #e8e8e8;
	color: #BBBBBB;
	font-size: 12px;
	font-weight: bold;
	background: url(../img/1L_normale.gif) center top
		repeat-x;
	}
	
#section li.selected{
	background: url(../img/1L_attivo.gif) center top
		no-repeat;
	color: #FFF;
	} 

#function {clear:both;}
#function ul { list-style:none; padding:0; margin:0; }
#function li { 
	float:left; 
	border-right: 1px dashed #E8E8E8;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 8px 5px 5px;
    text-align: left;
    text-transform: uppercase;
	cursor: pointer;
	color: #BBBBBB;
	}
	
#function li.selected{
	background: url(../img/2L_bkg_attivo.gif) center top
		repeat ;
	color: #FFF;
	} 

#main { width:650px; padding: 0 10px; float:left;  }
#sidebar { width:300px; float:right; background:#996;}

#footer { 
	width:100%; 
	text-align:left; 
  	clear:both;
	color: #AAAAAA;
	}