/*
* !!! TONALITA' ( bisogna usare solo questi tre colori!!! ):
* 1)black
* 2)#666666
* 3)#eeeeee
* 
*/ /*
*  
* All these css classes was commented on ext-all.css and redefinite here 
* with some modifyes  
* 
*/ /*--------------------  X-WINDOW  ----------------------------*/
	/* commented on ext-all.css and redefinite here without image */
.x-window {
	border: 1px solid black;
	background: #eeeeee;
}

.x-window-header {
	color: black;
}

.x-window-header-text {
	color: black;
}

.x-window-body {
	background: white;
}

.x-window-tc {
	overflow: hidden;
	zoom: 1;
}

.x-window-tr {
	padding-right: 6px;
}

.x-window-mr {
	padding-right: 6px;
	zoom: 1;
}

.x-window-tl {
	padding-left: 6px;
	zoom: 1;
	z-index: 1;
	position: relative;
}

.x-window-ml {
	padding-left: 6px;
	zoom: 1;
}

.x-window-bl {
	padding-left: 6px;
	zoom: 1;
}

.x-window-br {
	padding-right: 6px;
	zoom: 1;
}

.x-window-bc {
	zoom: 1;
}

.x-window-tl {
	padding-left: 6px;
	zoom: 1;
	z-index: 1;
	position: relative;
}

.x-window-mc {
	border: 1px solid #eeeeee;
	padding: 0;
	margin: 0;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
}

.x-window-plain .x-window-body {
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
}

/*--------------------  FINE X-WINDOW  ----------------------------*/
/*--------------------  FORM -------------------------*/
.x-form-text {
	border: 1px solid black;
}
.x-form-textarea {
	border: 1px solid black !important;
}